@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center mt-5">
    <h1 class="display-4 fw-bold">¡Bienvenido a la Barbería!</h1>
    <p class="lead mt-3">
        Donde la tradición se encuentra con la modernidad para ofrecerte el mejor estilo y cuidado personal.
        Reserva tu turno de forma rápida y sencilla desde nuestra plataforma y disfruta de un servicio profesional, pensado para vos.
    </p>
    <a class="btn btn-primary btn-lg mt-4" asp-controller="Turno" asp-action="Reservar">Reservar Turno</a>
</div>