@{
    ViewData["Title"] = "Acerca de";
}
<h1>@ViewData["Title"]</h1>

<p>
    En Barbería Jovcof nos dedicamos a brindar un servicio profesional y personalizado, combinando la tradición con las últimas tendencias en cuidado y estilo.
    Nuestro compromiso es que cada cliente se sienta único y bien atendido.
</p>
<p>
    Visítanos y disfruta de un ambiente cómodo y profesional. ¡Te esperamos!
</p>
